---
export interface Props {
    ref: string;
}

const { ref } = Astro.props;
---

<a
    class="focus: inline-flex scale-90 cursor-pointer flex-row items-center justify-center gap-x-2 rounded-lg px-5 py-2.5 text-center font-medium text-white opacity-70 transition-all duration-200 ease-in-out outline-none hover:scale-110 hover:bg-slate-700 hover:text-purple-400 hover:opacity-100 hover:shadow-lg focus:ring focus:ring-purple-400"
    href={ref}
>
    <slot />
</a>
