<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dawn Breeze</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://pyscript.net/releases/2024.5.2/core.css">

    <!-- This script tag bootstraps PyScript -->
    <script type="module" src="https://pyscript.net/releases/2024.5.2/core.js"></script>
</head>
<body>
    <script type="mpy" src="/static/main.py" config="/static/pyscript-main.json" async></script> <!-- Referencia correctamente a la carpeta static -->
    <!--     <script type="py" src="./worker.py" config="./pyscript-worker.json" id="the-worker" worker></script>-->
    <div id="counter"></div>
</body>
</html>