---
import HeaderCard from '../components/cards/HeaderCard.astro';
import HeaderIndex from '../components/schedule/IndexHeader.astro';
import PythonIcon from '../components/icons/PythonIcon.astro';
import JavaScriptIcon from '../components/icons/JavaScriptIcon.astro';
import ArrowIcon from '../components/icons/ArrowIcon.astro';
import ResultsCard from '../components/cards/ResultsCard.astro';
import Footer from '../components/schedule/Footer.astro';
import BenchmarkListCard from '../components/cards/BenchmarkListCard.astro';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-screen bg-gray-900 pb-32">
        <HeaderIndex class="w-full" />

        <main
            class="mx-auto flex max-w-7xl flex-col items-center justify-center"
        >
            <HeaderCard id="introduction" title="Introducción">
                <p>
                    Esta es la página de inicio del Trabajo de Fin de Grado de
                    Jordi Ramírez. Aquí se recopila información sobre el
                    proyecto, incluyendo el análisis comparativo y los
                    benchmarks de rendimiento y eficiencia entre <span
                        class="text-[#EFD81D]">JavaScript</span
                    >
                    y <span class="text-[#FDA703]">PyScript</span>.
                    <br /><br />
                    A nivel personal, este proyecto me ha permitido profundizar en
                    el uso de Python <PythonIcon />, un lenguaje que ya había
                    utilizado durante la carrera, pero que aún no había
                    explorado a fondo. Esta oportunidad me ha ayudado a
                    descubrir su potencial dentro del desarrollo web, un ámbito
                    tradicionalmente dominado por JavaScript <JavaScriptIcon />.
                    Tecnologías como PyScript y Pyodide abren la puerta a nuevas
                    formas de integrar Python en el navegador, permitiendo
                    soluciones innovadoras para el análisis y visualización de
                    datos directamente en la web.
                    <br /><br />
                    El proyecto surge del interés por explorar el auge de estas tecnologías
                    emergentes, planteando preguntas fundamentales como: ¿Pueden
                    PyScript y Pyodide ofrecer un rendimiento comparable al de JavaScript
                    en aplicaciones web? ¿Cuál es la tecnología más adecuada según
                    las necesidades de una aplicación: visualización gráfica, análisis
                    de datos en tiempo real o interacción con el usuario?
                    <br /><br />
                    Este trabajo busca dar respuesta a estas cuestiones y ofrecer
                    una visión más amplia sobre la relación y la complementariedad
                    entre JavaScript y PyScript en el desarrollo web moderno y en
                    la computación científica en el navegador.
                </p>
            </HeaderCard>

            <HeaderCard id="about" title="Sobre el proyecto">
                <div class="space-y-4">
                    <details
                        class="group rounded-lg border border-gray-700 bg-gray-800 p-4"
                    >
                        <summary
                            class="flex items-start justify-between text-lg font-medium text-white transition-all duration-300 ease-in-out group-open:text-purple-400 hover:cursor-pointer"
                        >
                            <div class="flex items-start gap-2">
                                <ArrowIcon />
                                <span> ¿Qué se compara? </span>
                            </div>
                        </summary>
                        <p class="mt-2 text-gray-400">
                            En general, el proyecto define un total de 6 ámbitos
                            que representan distintos casos de uso de JavaScript
                            y PyScript. Estos recogen pruebas con diferentes
                            objetivos, pero en gran medida miden las mismas
                            métricas de rendimiento y eficiencia. Los ámbitos
                            escogidos fueron:
                        </p>
                        <ul class="mt-2 ml-6 list-disc text-gray-400">
                            <li>Cálculos matemáticos intensivos</li>
                            <li>Procesamiento de grandes volúmenes de datos</li>
                            <li>
                                Carga y representación de gráficos complejos
                            </li>
                            <li>
                                Manejo de múltiples solicitudes concurrentes
                            </li>
                            <li>
                                Cálculo y verificación de integridad en datos
                                sensibles
                            </li>
                            <li>
                                Reconocimiento de patrones y entrenamiento de
                                modelos
                            </li>
                        </ul>
                        <p class="mt-2 text-gray-400">
                            Cada uno de estos ámbitos incluye diversas pruebas,
                            con varias versiones de implementaciones. Dichas
                            versiones permiten observar el rendimiento de las
                            tecnologías empleando distintas herramientas y
                            metodologías.
                        </p>
                    </details>

                    <details
                        class="group rounded-lg border border-gray-700 bg-gray-800 p-4"
                    >
                        <summary
                            class="flex items-start justify-between text-lg font-medium text-white transition-all duration-300 ease-in-out group-open:text-purple-400 hover:cursor-pointer"
                        >
                            <div class="flex items-start gap-2">
                                <ArrowIcon />
                                <span> ¿Por qué es importante? </span>
                            </div>
                        </summary>
                        <p class="mt-2 text-gray-400">
                            En un entorno donde JavaScript domina el desarrollo
                            web, resulta esencial explorar tecnologías
                            emergentes como PyScript que, sin reemplazar
                            JavaScript, podrían complementar sus capacidades. El
                            análisis de fortalezas y debilidades de cada enfoque
                            permite a los desarrolladores construir aplicaciones
                            más eficientes, aprovechando sinergias dentro del
                            mismo ecosistema.
                        </p>
                    </details>

                    <details
                        class="group rounded-lg border border-gray-700 bg-gray-800 p-4"
                    >
                        <summary
                            class="flex items-start justify-between text-lg font-medium text-white transition-all duration-300 ease-in-out group-open:text-purple-400 hover:cursor-pointer"
                        >
                            <div class="flex items-start gap-2">
                                <ArrowIcon />
                                <span> Tecnologías usadas </span>
                            </div>
                        </summary>
                        <p class="mt-2 text-gray-400">
                            Para el desarrollo integral tanto en backend como
                            frontend, se emplearon diversas tecnologías y
                            herramientas que permitieron analizar y comparar el
                            rendimiento de JavaScript y PyScript. Entre ellas
                            son:
                        </p>
                        <ul class="mt-2 ml-6 list-disc text-gray-400">
                            <li>
                                JavaScript
                                <ul class="ml-6 list-disc">
                                    <li>Node.js</li>
                                    <li>Librerías</li>
                                </ul>
                            </li>
                            <li>
                                PyScript
                                <ul class="ml-6 list-disc">
                                    <li>Python</li>
                                    <li>Pyodide</li>
                                    <li>Librerías</li>
                                </ul>
                            </li>
                            <li>Astro Framework</li>
                            <li>Tailwind CSS</li>
                        </ul>
                    </details>

                    <details
                        class="group rounded-lg border border-gray-700 bg-gray-800 p-4"
                    >
                        <summary
                            class="flex items-start justify-between text-lg font-medium text-white transition-all duration-300 ease-in-out group-open:text-purple-400 hover:cursor-pointer"
                        >
                            <div class="flex items-start gap-2">
                                <ArrowIcon />
                                <span>Pruebas realizadas</span>
                            </div>
                        </summary>
                        <p class="mt-2 text-gray-400">
                            Cada ámbito de evaluación se abordó mediante pruebas
                            específicas pensadas para analizar los resultados
                            desde distintos enfoques y perspectivas. De entre
                            los distintos ambitos, las pruebas más intuitivas
                            que se pueden realizar en el mundo cotidiano son:
                        </p>
                        <ul class="mt-2 ml-6 list-disc text-gray-400">
                            <li>Multiplicación de matrices</li>
                            <li>Detección de números primos</li>
                            <li>
                                Cálculo de dígitos de π con aritmética de
                                precisión arbitraria
                            </li>
                            <li>Procesamiento de grandes conjuntos de datos</li>
                            <li>
                                Análisis estadístico con paralelización masiva
                            </li>
                            <li>...</li>
                        </ul>
                        <p class="mt-2 text-gray-400">
                            En total se realizaron de entre 6 entornos o ambitos
                            conceptuales, se realizaron un total de 18
                            implementaciones de las diferentes pruebas. Algunas
                            son varias versiones de la misma prueba, y otras
                            contienen una unica version de la prueba.
                        </p>
                    </details>
                </div>
            </HeaderCard>

            <BenchmarkListCard
                id="benchmarks"
                title="Benchmarks"
                ref="benchmarks"
            />

            <HeaderCard id="results" title="Resultados">
                <div
                    class="grid grid-cols-1 gap-4 overflow-x-hidden sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
                >
                    <!-- 1. Cálculos matemáticos intensivos -->
                    <ResultsCard title="1. Cálculos matemáticos intensivos">
                        <ol
                            class="break-words list-decimal list-inside space-y-2"
                        >
                            <li>
                                <strong>JavaScript (cliente)</strong><br />
                                Fue el entorno más rápido, con tiempos de ejecución
                                extremadamente veloces, pero también el que más memoria
                                consumió.
                            </li>
                            <li>
                                <strong>JavaScript (servidor)</strong><br />
                                Mostró inconsistencias en los tiempos de ejecución
                                entre pruebas similares.
                            </li>
                            <li>
                                <strong>Python (servidor)</strong><br />
                                Lideró en eficiencia gracias a bibliotecas optimizadas
                                como NumPy y SciPy, manteniendo un uso de recursos
                                muy contenido.
                            </li>
                            <li>
                                <strong>PyScript</strong><br />
                                Es viable únicamente cuando la minimización del uso
                                de memoria prima sobre la velocidad de cálculo.
                            </li>
                        </ol>
                    </ResultsCard>

                    <!-- 2. Procesamiento de grandes volúmenes de datos -->
                    <ResultsCard
                        title="2. Procesamiento de grandes volúmenes de datos"
                    >
                        <ol
                            class="break-words list-decimal list-inside space-y-2"
                        >
                            <li>
                                <strong>JavaScript</strong><br />
                                Durante las primeras versiones destaco, sin embargo
                                al implementar las optimizaciones de rendimiento
                                en ambos entornos, fue superado abismalmente.
                            </li>
                            <li>
                                <strong>PyScript</strong><br />
                                Gracias a bibliotecas especializadas, superó a JavaScript
                                en las tareas, logrando el mejor equilibrio entre
                                velocidad y consumo de memoria, y superando en ambas
                                a JavaScript..

                                <br /><br />
                                La implementación con Web Workers mostró una escalabilidad
                                más notable en PyScript que en JavaScript. Sin embargo,
                                la inicialización de los workers en PyScript es mucho
                                mas lenta que en JavaScript.
                            </li>
                        </ol>
                    </ResultsCard>

                    <!-- 3. Renderizado de gráficos complejos -->
                    <ResultsCard title="3. Renderizado de gráficos complejos">
                        <ol
                            class="break-words list-decimal list-inside space-y-2"
                        >
                            <li>
                                <strong>JavaScript</strong><br />
                                Realmente en ambos tipos de graficos, tanto en graficos
                                png o graficos interactivos tuvo la delantera ante
                                PyScript.
                            </li>
                            <li>
                                <strong>PyScript</strong><br />
                                Requirió un tiempo considerablemente mayor para generar
                                los dos tipos de graficos, y ademas tuvo un rendimiento
                                inferior en cada uno de los tiempos medidos.
                            </li>
                        </ol>
                    </ResultsCard>

                    <!-- 4. Manejo de solicitudes concurrentes -->
                    <ResultsCard title="4. Manejo de solicitudes concurrentes">
                        <ol class="list-decimal list-inside space-y-2">
                            <li>
                                Realmente fueron los resultados mas parejos, en
                                ambos casos tuvieron un rendimiento realmente
                                parecido, sin embargo, por unas centesimas de
                                segundos podriamos decir que JavaScript tuvo el
                                mejor rendimiento en ambos escenarios.
                            </li>
                        </ol>
                    </ResultsCard>

                    <!-- 5. Cálculo y verificación de integridad en datos sensibles -->
                    <ResultsCard
                        title="5. Cálculo y verificación de integridad en datos sensibles"
                    >
                        <span class="block">
                            JavaScript demostró una superioridad absoluta en
                            operaciones criptográficas, tanto en las pruebas
                            donde analizabamos los hashes de SHA-256 como en las
                            pruebas donde analizabamos el cifrado y descifrado
                            simétrico con AES-GCM.
                        </span>
                    </ResultsCard>

                    <!-- 6. Reconocimiento de patrones y clasificación -->
                    <ResultsCard
                        title="6. Reconocimiento de patrones y clasificación"
                    >
                        <ol class="list-decimal list-inside space-y-2">
                            <li>
                                Estos resultados tambien dio unos valores
                                iniciales parejos, donde ambos tenian una
                                precision, uso de memoria, y tiempos parecidos,
                                sin embargo en la segunda prueba JavaScript tuvo
                                un rendimiento mucho mas optimo que en PyScript.
                            </li>
                        </ol>
                    </ResultsCard>

                    <!-- Conclusiones Generales -->
                    <div
                        class="col-span-1 mt-2 text-gray-300 sm:col-span-2 md:col-span-3 lg:col-span-3"
                    >
                        <h3 class="text-xl font-bold text-purple-400">
                            Conclusiones Generales
                        </h3>
                        <p class="mt-4">
                            El análisis revela que JavaScript mantiene la
                            ventaja en la mayoría de los escenarios evaluados,
                            especialmente en algoritmos e implementaciones tanto
                            de forma nativa como en operaciones y en tiempo
                            real. Por su parte, PyScript exhibe un potencial
                            destacado en el procesamiento de datos, donde las
                            funciones y estructuras aplicadas a los datos
                            gracias a bibliotecas especializadas, son realmente
                            notables a la hora de analizar su rendimiento. Sin
                            embargo, para realmente sacarle provecho a PyScript
                            tenemos que tener dos entornos muy concretos, el
                            primero es el entorno donde no tengamos recursos
                            altos disponibles de memoria, y donde se este
                            dispuesto a sacrificar tiempos de ejecución un poco
                            más lento de lo normal. El problema? estos entornos
                            son limitados ya que el mas parecido son los
                            sistemas empotrados, pero estos requieren respuestas
                            inmediatas, por lo que no podemos esperar mucho
                            tiempo para obtener los resultados. El segundo es
                            donde se requiera analizar un gran conjunto de
                            datos, y donde el tiempo de respuesta es realmente
                            importante, por lo que es necesario que se puedan
                            obtener resultados en un tiempo razonable. Sin
                            embargo, en ambos casos, PyScript sigue necesitando
                            un tiempo de carga de la pagina inicial, que
                            dependera de los modulos y del codigo Python, sin
                            embargo eso afecta a la escalabilidad de su uso en
                            el navegador. Por otro lado, si se usan Web Workers,
                            se debe tener en cuenta el tiempo de inicialización
                            de los workers, que en PyScript dio resultados muy
                            lentos.
                        </p>
                        <p class="mt-4">
                            La integración de Web Workers puso de manifiesto
                            diferencias cruciales: JavaScript mantuvo una buena
                            escalabilidad con workers, mientras que PyScript
                            mejoró notablemente una vez completada la fase de
                            inicialización, lo que sugiere una mayor
                            escalabilidad para procesos que contengan gran
                            numero de workers. Sin embargo su espera a la
                            creación de workers fue muy grande. Por lo tanto,
                            PyScript es usable en entornos donde se requiere una
                            escalabilidad de procesos, pero no en entornos donde
                            el tiempo de carga inicial y el tiempo de creación
                            de workers son importantes.
                        </p>
                    </div>
                </div>
            </HeaderCard>
        </main>
        <Footer />
    </body>
</html>
