---
import LinkIcon from '../icons/LinkIcon.astro';
export interface Props {
    id?: string;
    title: string;
    children?: any;
    ref?: string;
}

const { id, title, children, ref } = Astro.props;
const currentUrl = Astro.request.url.toString();
const showLinkIcon = ref && !currentUrl.includes('/benchmarks');
---

<section id={id} class="mt-12 w-full">
    <div
        class="mx-auto flex flex-col rounded-lg border border-gray-700 bg-gray-800 shadow-md"
    >
        <header class="p-6">
            <div class="flex items-center justify-between gap-4">
                <h2 class="mb-4 text-3xl font-bold text-white">{title}</h2>
                <div class="mr-4">
                    {showLinkIcon && <LinkIcon ref={ref} />}
                </div>
            </div>
            <div class="text-gray-300">
                <slot>{children}</slot>
            </div>
        </header>
    </div>
</section>
